<h2>
    <a href="{{ path('post', { slug: post.slug }) }}">{{ post.title }}</a>
</h2>

<div class="mb-3">
    <div class="small">Published on <time datetime="{{ post.publishedAt|date('c') }}">{{ post.publishedAt|date }} {{ post.publishedAt|date('e') }}</time></div>
    <div class="small">Updated on <time datetime="{{ post.updatedAt|date('c') }}">{{ post.updatedAt|date }} {{ post.createdAt|date('e') }}</time></div>
</div>

<div>
    {{ post.body|raw }}
</div>