<h2>{{ post.title }}</h2>

<div class="mb-3">
    <div class="small">Published on <time datetime="{{ post.createdAt|date('c') }}">{{ post.createdAt|date }}</time></div>
    <div class="small">Updated on <time datetime="{{ post.updatedAt|date('c') }}">{{ post.updatedAt|date }}</time></div>
</div>

<div>
    {{ post.body|raw }}
</div>