{% extends 'base.html.twig' %}

{% block title %}Skins game{% endblock %}

{% block container %}
    <div class="row">
        <div class="col">
            <h2>Standings</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Type</th>
                    <th>Drafter</th>
                    <th>Record</th>
                    <th class="text-end">Skins</th>
                </tr>
                </thead>
                <tbody>
                {% for selectedTeamRecord in skinsData.sortedSelectedTeamRecord %}
                    <tr>
                        <td>
                            <img
                                src="{{ selectedTeamRecord.teamRecord.name|nbaLogo }}"
                                alt=""
                                width="30"
                                height="30"
                            >

                            {{ selectedTeamRecord.teamRecord.name }}
                        </td>
                        <td>
                            {% include 'partials/skin-type.html.twig' with { skinType: selectedTeamRecord.skinsType } %}
                        </td>
                        <td>
                            <strong>{{ selectedTeamRecord.drafter.name }}</strong> with
                            #{{ skinsData.overallPickNumberForTeam(selectedTeamRecord.teamRecord.name) }}
                        </td>
                        <td>
                            {{ selectedTeamRecord.teamRecord.wins }}-{{ selectedTeamRecord.teamRecord.losses }}
                        </td>
                        <td class="text-end font-monospace">
                            {{ selectedTeamRecord.points }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if updatedAt %}
                <p><small>Last update {{ updatedAt | date }} {{ updatedAt | date('e') }}</small></p>
            {% endif %}

            <div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(275px, 1fr)); gap: 1rem;">
                {% for drafter in drafters %}
                    <div>
                        <h2>{{ drafter.name }}</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-end">Pick</th>
                                <th>Team</th>
                                <th class="text-end">Skins</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for selectedTeamRecord in skinsData.sortedSelectedTeamRecord %}
                                {% if selectedTeamRecord.drafter.name == drafter.name %}
                                <tr>
                                    <td class="text-end font-monospace">
                                        {{ skinsData.overallPickNumberForTeam(selectedTeamRecord.teamRecord.name) }}
                                    </td>
                                    <td>
                                        <img
                                            src="{{ selectedTeamRecord.teamRecord.name|nbaLogo }}"
                                            alt=""
                                            width="30"
                                            height="30"
                                        >

                                        {{ selectedTeamRecord.teamRecord.name }}
                                    </td>
                                    <td class="text-end font-monospace">
                                        {{ selectedTeamRecord.points }}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td colspan="2"><strong>Total</strong></td>
                                <td class="text-end">
                                    <strong>{{ skinsData.totalSkinsFor(drafter.name) }}</strong>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                <div>
                    <h2>Totals</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Drafter</th>
                                <th>MVT</th>
                                <th class="text-end">Skins</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for name, skins in skinsData.getSortedSkinsForAllDrafters %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>
                                        <img
                                            src="{{ skinsData.mostValuableTeamForDrafter(name).teamRecord.name|nbaLogo }}"
                                            alt=""
                                            width="30"
                                            height="30"
                                        >
                                    </td>
                                    <td class="text-end">{{ skins }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h2>Draft recap</h2>
            <ol>
                {% for selection in selections %}
                    <li>
                        <strong>{{ selection[0].name }}</strong>
                        selects the
                        <img
                            src="{{ selection[1]|nbaLogo }}"
                            alt=""
                            width="24"
                            height="24"
                        >
                        <strong>{{ selection[1] }}</strong>
                        and their
                        <strong>
                            {% include 'partials/skin-type.html.twig' with { skinType: selection[2] } %}
                        </strong>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}