{% extends 'base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Type</th>
                        <th>Drafter</th>
                        <th class="text-end">Wins</th>
                        <th class="text-end">Losses</th>
                        {% for drafter in drafters %}
                            <th class="text-end">{{ drafter.name }} points</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for selectedTeamRecord in selectedTeamRecords %}
                        <tr>
                            <td>
                                <img
                                    src="{{ selectedTeamRecord.teamRecord.name|nbaLogo }}"
                                    alt=""
                                    width="30"
                                    height="30"
                                >

                                {{ selectedTeamRecord.teamRecord.name }}
                            </td>
                            <td>
                                {% include 'partials/skin-type.html.twig' with { skinType: selectedTeamRecord.skinsType } %}
                            </td>
                            <td>{{ selectedTeamRecord.drafter.name }}</td>
                            <td class="text-end {{ selectedTeamRecord.skinsType == 'WINS' ? 'fw-bold' : '' }}">
                                {{ selectedTeamRecord.teamRecord.wins }}
                            </td>
                            <td class="text-end {{ selectedTeamRecord.skinsType == 'LOSSES' ? 'fw-bold' : '' }}">
                                {{ selectedTeamRecord.teamRecord.losses }}
                            </td>
                            {% for drafter in drafters %}
                                <td class="text-end">
                                    {% if drafter.name == selectedTeamRecord.drafter.name %}
                                        {{ selectedTeamRecord.points }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% for drafter in drafters %}
                            {% set totalPoints = 0 %}
                            {% for selectedTeamRecord in selectedTeamRecords %}
                                {% if selectedTeamRecord.drafter.name == drafter.name %}
                                    {% set totalPoints = totalPoints + selectedTeamRecord.points %}
                                {% endif %}
                            {% endfor %}
                            <td class="text-end">
                                <strong>{{ totalPoints }}</strong>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>

            <h2>Draft recap</h2>
            <ol>
                {% for selection in selections %}
                    <li>
                        <strong>{{ selection[0].name }}</strong>
                        selects the
                        <img
                                src="{{ selection[1]|nbaLogo }}"
                                alt=""
                                width="24"
                                height="24"
                        >
                        <strong>{{ selection[1] }}</strong>
                        and their
                        <strong>
                            {% include 'partials/skin-type.html.twig' with { skinType: selection[2] } %}
                        </strong>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}