{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | {{ parent() }}{% endblock %}

{% block head %}
    <meta name="twitter:title" content="{{ post.title }}">
    {% if post.description %}
        <meta name="twitter:description" content="{{ post.description }}">
    {% endif %}
    {% if post.image %}
        <meta name="twitter:image" content="{{ post.image }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <div class="border-2 border border-primary p-3 mb-3">
                <h1>{{ post.title }}</h1>
                <p>{{ post.description }}</p>
                <p><time datetime="{{ post.publishedAt|date('Y-m-d') }}">{{ post.publishedAt|date('F j, Y') }}</time></p>
                <small>
                    Last updated on
                    <time datetime="{{ post.publishedAt|date('Y-m-d') }}">
                        {{ post.updatedAt|date('F j, Y H:i:s e') }}
                    </time>
                </small>
            </div>

            <div>
                {{ post.body|raw }}
            </div>
        </div>
    </div>
{% endblock %}